<h4>Home</h4>
<section class="card">
  <div class="card-content">
    <div class="card-title">Completed</div>
    <todo-list
      [list]="(done | async) ?? []"
      [icon]="checkbox"
      (setTaskStatus)="homeTask($event, true)"
    ></todo-list>
  </div>
</section>

<section class="card">
  <div class="card-content">
    <div class="card-title">In-Progress</div>
    <todo-list
      [list]="(todo | async) ?? []"
      [icon]="outline"
      (setTaskStatus)="homeTask($event, false)"
    ></todo-list>
  </div>
</section>
